@charset "UTF-8";
/* CSS Document */
/*GLOBAL*/

/*MEDIA QUERIES*/
/* 
http://rachelmccollin.co.uk/blog/iphone5-does-it-break-your-responsive-design/
What does each of those media queries do?
max-width: 1023px targets screens smaller than the iPad in landscape – i.e iPads in portrait
max-width: 759px targets screens smaller than the iPad in portrait – i.e smartphones in landscape, including the iPhone5
max-width: 479px targets screens smaller than older iPhones and other smartphones in landscape – i.e. smartphones in portrait
 
I used this to help determine the most effective media queries for the varied mobile platforms.
here's another reference:  http://cssmediaqueries.com/
*/
@media screen and (min-width: 1024px) {
/*li {
  background: red;
  color: gold;
  list-style: none;
  float: left;
  padding: 10px;
  border: 1px solid gray;
}*/
img {
	max-width:95%;
	max-height: 95%;
}
h1, body, p, ul, li {
	font-size: 100%;
}
}
@media screen and (max-width: 1023px) {
/*li {
  background: green;
  color: gold;
  list-style: none;
  float: left;
  padding: 10px;
  border: 1px solid gray;
}*/
img {
	width:85%;
	height: 85%;
}
h1, body, p, ul, li {
	font-size: 100%;
}
}

@media screen and (max-width: 759px) {
/*li {
  background: pink;
  color: gold;
  list-style: none;
  float: left;
  padding: 10px;
  border: 1px solid gray;
}*/
img {
	width:75%;
	height: 75%;
}
h1, body, p, ul, li {
	font-size: 85%;
}
}


@media screen and (max-width: 479px) {
/*li {
  background: navy;
  color: gold;
  list-style: none;
  float: none;
  padding: 10px;
  border: 1px solid gray;
}*/
img {
	width:50%;
	height: 50%;
		
}
h1, body, p, ul, li {
	font-size: 70%;
}
/* cannot figure out how to omit menu items at certain display sizes and then float the visible ones together */
#cssmenu li:nth-child(4) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(5) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(6) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(7) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(9) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(11) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(12) 
{
	visibility: hidden;
}
#cssmenu li:nth-child(13) 
{
	visibility: hidden;
}
/*this is a horrible hack */
}

/* Body */
body {
	background: #fbf6ed;
	color: #002b5c;
	font-family: 'Quicksand', sans-serif;
}


/*Navigation*/

h1 {
clear: left;
font-size: 1.5em;

}

.writeup {
font-size: .75em;
}

/* CSS Menu styling */
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #ffffff;
  display: inline-block;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  min-width: 35px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 #333333;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li.active a {
  background: #646464 url(images/grad_dark.png) repeat-x left bottom;
  background: -moz-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646464), color-stop(100%, #4a4a4a));
  background: -webkit-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: -o-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: -ms-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: linear-gradient(to bottom, #646464 0%, #4a4a4a 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#646464', endColorstr='#4a4a4a', GradientType=0);
  box-shadow: inset 0 0 10px #222222, inset 0 10px 10px #222222;
  -moz-box-shadow: inset 0 0 10px #222222, inset 0 10px 10px #222222;
  -webkit-box-shadow: inset 0 0 10px #222222, inset 0 10px 10px #222222;
  filter: none;
}
#cssmenu > ul > li.active a:hover {
  background: -moz-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646464), color-stop(100%, #4a4a4a));
  background: -webkit-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: -o-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: -ms-linear-gradient(top, #646464 0%, #4a4a4a 100%);
  background: linear-gradient(to bottom, #646464 0%, #4a4a4a 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#646464', endColorstr='#4a4a4a', GradientType=0);
  filter: none;
}
#cssmenu > ul > li a {
  box-shadow: inset 0 0 0 1px #8a8a8a;
  -moz-box-shadow: inset 0 0 0 1px #8a8a8a;
  -webkit-box-shadow: inset 0 0 0 1px #8a8a8a;
  background: #4a4a4a url(images/grad_dark.png) repeat-x left top;
  background: -moz-linear-gradient(top, #8a8a8a 0%, #707070 50%, #626262 51%, #787878 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8a8a8a), color-stop(50%, #707070), color-stop(51%, #626262), color-stop(100%, #787878));
  background: -webkit-linear-gradient(top, #8a8a8a 0%, #707070 50%, #626262 51%, #787878 100%);
  background: -o-linear-gradient(top, #8a8a8a 0%, #707070 50%, #626262 51%, #787878 100%);
  background: -ms-linear-gradient(top, #8a8a8a 0%, #707070 50%, #626262 51%, #787878 100%);
  background: linear-gradient(to bottom, #8a8a8a 0%, #707070 50%, #626262 51%, #787878 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#787878', GradientType=0);
  border-bottom: 1px solid #5d5d5d;
  border-top: 1px solid #5d5d5d;
  border-right: 1px solid #5d5d5d;
  line-height: 34px;
  padding: 0 35px;
  filter: none;
}
#cssmenu > ul > li a:hover {
  background: #8a8a8a url(images/grad_dark.png) repeat-x left bottom;
  background: -moz-linear-gradient(top, #646464 0%, #4a4a4a 50%, #3b3b3b 51%, #525252 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646464), color-stop(50%, #4a4a4a), color-stop(51%, #3b3b3b), color-stop(100%, #525252));
  background: -webkit-linear-gradient(top, #646464 0%, #4a4a4a 50%, #3b3b3b 51%, #525252 100%);
  background: -o-linear-gradient(top, #646464 0%, #4a4a4a 50%, #3b3b3b 51%, #525252 100%);
  background: -ms-linear-gradient(top, #646464 0%, #4a4a4a 50%, #3b3b3b 51%, #525252 100%);
  background: linear-gradient(to bottom, #646464 0%, #4a4a4a 50%, #3b3b3b 51%, #525252 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#787878', GradientType=0);
  filter: none;
}
#cssmenu > ul > li:first-child a {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-left: 1px solid #5d5d5d;
}
#cssmenu > ul > li:last-child a {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}
#cssmenu .has-sub:hover ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  min-width: 100%;
  text-align: center;
  /* IE7 */

  *width: 100%;
}
#cssmenu .has-sub ul li {
  text-align: center;
}
#cssmenu .has-sub ul li a {
  border-top: 0 none;
  border-left: 1px solid #5d5d5d;
  display: block;
  line-height: 120%;
  padding: 9px 5px;
  text-align: center;
}



/* styling */
li {
  list-style-type: none;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

ul {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

p {
	font-size: 1.25em;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	padding: 1%;
}



